@*@model List<TablaPeriodica.Models.ElementosT>


<h1>Elementos</h1>

<html>
<head>

    <title>Tabla Periodica de Los Elementos</title>
    <link href="~/css/Style.css" rel="stylesheet" />

</head>
<body>
    <div>

        @foreach (var elementos in Model)
        {
            @ViewBag.elementos
        }







    </div>
</body>
</html>*@