body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #E2EDF3;
}
/*Estilos de la tabla periodica*/
.grid-container {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
    justify-content: space-evenly;
}

.item {
    border: 1px solid black;
    flex-wrap: wrap;
    margin-bottom: 6%;
    height: 70px;
}
.itemDelete {
    border: 1px solid gray;
    cursor: pointer;
    padding: 0px 1.5px;
}
.item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}

.item-title {
    margin: 0;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 8px;
}

.item-number {
    font-size: x-small;
    margin:0;
    margin-top: 2px;
    text-align:center;
}

.space-blank1 {
    border: none;
    grid-column: auto / span 16;
}

.space-blank2 {
    grid-column: auto / span 10;
}

.space-blank-second-grid {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.item-name {
    margin: 0;
    font-size: x-small;
    margin-top: 5px;
    text-align: center;
}

/*Estilos para la leyenda*/
.leyenda-grid {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
    justify-content: space-evenly;
}

.leyenda-item {
    border: 1px solid black;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: small;
    margin-top: 1px;
}

.leyenda-item-header1 {
    grid-column: 1 / span 10;
}

.leyenda-item-column-span-2 {
    grid-column: auto / span 2;
    height: 55px;
    line-height: 55px;
}

.leyenda-item-header2 {
    grid-column: 11 / span 2;
    grid-row: 1 / 3;
    height: auto;
    line-height: 88px;
}

.leyenda-item-header3 {
    grid-column: 13 / span 6;
}
/*Colores de la tabla*/
.color-header-leyendas {
    background-color: #DAD5D8;
}

.Alcalinos {
    background-color: #B89DC3;
}

.Alcalinoterreos {
    background-color: #D6A3C4;
}

.BloqueD {
    background-color: #E9BD52;
}

.Lantanidos {
    background-color: #DA9E67;
}

.Actinidos {
    background-color: #D3928B;
}

.OtrosMetales {
    background-color: #F3DC2C;
}

.Metaloides {
    background-color: #D2DC5D;
}

.OtrosNoMetales {
    background-color: #8EB88B;
}

.Halogenos {
    background-color: #A0CAC9;
}

.GasesNobles {
    background-color: #9FC1E6;
}
